.vscode/launch.json
__pycache__/header_manipulation.cpython-38.pyc
__pycache__/ordered_set.cpython-38.pyc
__pycache__/read_headers_from_csv.cpython-38.pyc
consist_info.csv
consist_info2.csv
__pycache__/read_csv.cpython-38.pyc
__pycache__/row_manipulation.cpython-38.pyc
excluded_rows.csv
consist_info_final.csv
